<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
    <h1>User's details</h1>
    <table>
        <tr>
            <th>Property Name</th>
            <th>Value</th>
        </tr>
        <tr th:each="entry : ${userProperties}">
            <td th:text="${entry.key}">Property</td>
            <td th:text="${entry.value}">Value</td>
        </tr>
    </table>
    <form th:action="@{/logout}" method="post">
        <button type="submit">Logout</button>
    </form>
</body>
</html>